.sec-media {
  width: 90%;
  min-height: 65vh;
  height: auto;
  border-top-right-radius: 9.1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../asset/backm3.png"), url("../../asset/backm1.png"),
    url("../../asset/backm2.png");
  background-position: start;
  background-repeat: no-repeat;
  background-size: auto, 50%, cover;
  display: flex;

  gap: 2rem
}
.left-sec {
  display: flex;
  margin-top: 2rem;
  width: 30%;
  flex-direction: column;
  gap: 0.2rem;
}
.left-sec button {
  width: 16rem;
  padding: 1.5rem 0;
  text-align: center;
  font-size: 1.05rem;
  font-weight: bold;
  text-transform: capitalize;
}
button {
  all: unset;
}
.active {
  background: linear-gradient(
    90deg,
    rgba(181, 162, 105, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  font-size: 1.5rem !important;
}
.left-sec .active::before {
  content: "";
  position: absolute;
  left: 0;
  height: 7%;
  width: 4px;
  background-color: var(--light--brown);
  border-radius: 20px;
}

.right-sectionm {
 opacity: 0;
  width: 80%;
  margin-top: 4%;


}
.right-sectionm.visible {
  opacity: 1;
  pointer-events: auto;
}

.card {
  width: 100%; 
  height: 20.7rem !important;
  position: relative;
  border-radius: 20px;
  border: 2px solid var(--liner--after);
  padding-top: 16px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: start;
  opacity: 0;
  transform: translateX(-50px) scale(0.95);
  transition: all 0.5s ease-out;
  overflow: visible; 
}
.watermark {
  background-color: var(--bg--nav);
  color: white;
  position: absolute;
  top: 0.2rem; 
  left: 1rem;
  width: 6rem;
  text-align: center;
  border-radius: 25px;
  z-index: 10;
  font-size: 0.7rem;
}

.card img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}
.cardi{
  padding: 0px 0.2rem;
}

.title {
  font-size: x-small;
  color: #818181;
  font-family: "Helvetica LT Std", Helvetica, Arial, sans-serif;
}
.title1 {
  font-size: x-small;
  color: #5f5e5e;
  font-family: "Helvetica LT Std", Helvetica, Arial, sans-serif;
  margin-bottom: 2px;
  margin-top: 12px;
  padding: 12px 0px;
  line-height: 1.5rem;
}
.light-text1 {
  font-size: x-small;
  font-family: "Helvetica LT Std", Helvetica, Arial, sans-serif;
  color: #a09f9f;
}

.dark-text {
  font-size: 14px;
  font-family: "Helvetica LT Std", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: var(--liner--after);
  margin-bottom: 2px;
}
.gold-text {
  font-size: 11px;
  font-family: "Helvetica LT Std", Helvetica, Arial, sans-serif;
  color: var(--light--brown);
  text-decoration: none;
}

.box {
  padding: 10px 0px;}
@keyframes slideInLeftBounce {
  0% {
    transform: translateX(-100%) scale(0.9);
    opacity: 0;
  }
  60% {
    transform: translateX(20px) scale(1.05);
    opacity: 1;
  }
  80% {
    transform: translateX(-10px) scale(0.98);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

.card.animate {
  opacity: 1;
  animation: slideInLeftBounce 1s ease-out forwards;
}
@media (max-width:768px) {
.card{
  width: 60%;
  margin-left: 5rem;
  margin-top: 2rem;
}
.slick-prev:before, .slick-next:before {
  opacity: 0;
}
.right-sectionm{
  width: 60%;
}
}
@media (max-width:440px) {

.slick-prev:before, .slick-next:before {
  opacity: 0;
}
.right-sectionm{
  width: 60%;
}
}


