.achiv-sec {
  min-height: 300px;
  background-image: url("../../asset/vec.jpg");
  background-repeat: no-repeat;
  background-size: 80%;
  margin-top: 5%;
  margin-left: 10%;
  position: relative;
}

.achiv-h {
  margin-top: 45px;
  font-size: 70px;
  font-weight: bold;
  font-family: "Helvetica LT Std", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(153, 152, 151, 0.12);
  position: relative;
}

.achiv-h1 h1 {
  font-size: 40px;
  font-family: "Helvetica LT Std", Helvetica, Arial, sans-serif;
  margin-left: 10px;
  font-weight: bold;
  padding-left: 40px;
  position: absolute;
  z-index: 10;
  margin-top: -70px;
}

.hidden-init {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.hidden-left,
.hidden-right {
  opacity: 0;
}

.hidden-left {
  transform: translateX(-40px);
}

.hidden-right {
  transform: translateX(40px);
}

.fade-left,
.fade-right,
.fade-left-delay,
.fade-right-delay {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.9s ease;
}

.fade-left-delay {
  transition-delay: 0.3s;
}

.fade-right-delay {
  transition-delay: 0.5s;
}

.fade-only-init {
  opacity: 0;
  transition: opacity 1s ease;
}

.fade-only-active {
  opacity: 1;
}


.vec1 {
  background-color: white;
  margin-left: 2rem;
  width: 3rem;
  margin-top: 2px;
}

.vec2 {
  background-color: white;
  width: 2.5rem;
  margin-top: 2rem;
}

.vec3 {
  background-color: white;
  margin-left: -2rem;
  width: 3rem;
}

.vec4 {
  width: 3rem;
  margin-left: -3rem;
  margin-top: -3rem;
}

.vec5 {
  width: 3rem;
  margin-top: -4rem;
  margin-left: -1rem;
}

.vec6 {
  margin-top: -3rem;
  width: 3rem;
  margin-left: -1rem;
}

.vec7 {
  margin-top: -3.5rem;
  margin-left: -0.7rem;
  width: 2.5rem;
}

.vec8 {
  margin-top: 2rem;
  width: 2.5rem;
}

.vec9 {
  margin-left: 1rem;
  width: 3rem;
  margin-top: -3rem;
}

.vec10 {
  background-color: white;
  width: 3rem;
  margin-top: -0.2rem;
  margin-left: -2rem;
}

.vec11 {
  width: 3rem;
  margin-left: -3rem;
  margin-top: -3.3rem;
}

#t1 {
  margin-top: 2rem;
}

#h6 {
  margin-left: -4rem;
}

#h6 span {
  margin-left: -2rem !important;
}

#h6 span span {
  margin-left: 2rem !important;
}

#t3 {
  margin-left: -4rem;
  margin-top: 2rem;
}

#t3 h6 {
  width: 15rem;
}

#t3 h6,
#t1 h6,
#w1 h6,
#w2 h6,
#t2 h6 {
  font-size: small;
  font-family: "Helvetica LT Std", Helvetica, Arial, sans-serif;
}


.r {
  font-weight: bold !important;
  font-size: large !important;
  font-family: "Helvetica LT Std", Helvetica, Arial, sans-serif;
  margin-left: 0.6rem;
}

.r span {
  margin-left: 1.5rem;
}

.r1 {
  font-weight: bold !important;
  font-size: large !important;
  font-family: "Helvetica LT Std", Helvetica, Arial, sans-serif;
  margin-left: -5rem;
}

.r1 span {
  margin-left: 1.5rem;
}

.r2 {
  font-weight: bold !important;
  font-size: xx-small !important;
  font-family: "Helvetica LT Std", Helvetica, Arial, sans-serif;
  margin-left: -4rem;
}

.r2 span {
  margin-left: 2rem;
}


#t1 h6 span,
#t2 h6 span,
#t3 h6 span,
#w1 h6 span,
#w2 h6 span {
  font-size: 20px !important;
  color: var(--dark--color);
  font-family: "Helvetica LT Std", Helvetica, Arial, sans-serif;
}


#w1 {
  margin-left: -3rem;
  margin-top: 5rem;
}

#w1 h6 {
  width: 15rem;
}

#w1 h6 span span {
  margin-left: 2rem;
}

#w2 {
  margin-left: -3rem;
  margin-top: 5rem;
}

#w2 h6 {
  width: 15rem;
}

#w2 h6 span {
  margin-left: -3rem;
}

#w2 h6 span span {
  margin-left: 2rem;
}
@media (max-width:768px) {
.vec6 {
margin-top: -2.5rem;

}
.vec8 {
margin-top: -0.1rem;

}
.vec2 {
margin-top: -0.1rem;

}
.vec5 {
margin-top: -3rem;

}

  
}