.footer {
  background-color: var(--over--color);
  min-height: 400px;
  position: relative;
  z-index: 1;
  margin-left: 40px;
}
.btn-top {
  width: 46px;
  height: 46px;
  margin-top: -25px;
  opacity: 1;
  border-radius: 19.93px;
  background: var( --light--brown);
  border: none;
  float: inline-end;
  color: white;
}
.bi-chevron-double-up::before{
  margin-left: 1rem;
}
.p1 {
  font-weight: bold;
  font-size: 11px;
  font-family: "Helvetica LT Std", Helvetica, Arial, sans-serif;
  margin-bottom: 4px;
  cursor: default;
}

.p2 {
  margin-left: 20px;
  font-size: 11px;
  font-family: "Helvetica LT Std", Helvetica, Arial, sans-serif;
  color: rgb(121, 120, 120);
  cursor: default;
}

.span1 {
  display: block;
  width: 15%;
  height: 1px;
  background-color:var( --light--brown);
}

.ul1 li {
  margin-top: 24px;
  list-style: none;
  line-height: 1px;
  font-size: 11px;
  font-family: "Helvetica LT Std", Helvetica, Arial, sans-serif;
  margin-left: -35px;
  color: rgb(121, 120, 120);
  cursor: default;
}

#ul1 li {
  cursor: pointer;
}

#div2 {
  margin-left: -80px;
}

#div3 {
  width: 300px;
  margin-left: -80px;
}

#div4 {
  width: 270px;
}

.ul1 li i {
  color:var(  --bg--nav);
}

.img {
  width: 180px;
  margin-top: 45px;
}

  .div-img img{
    width: 25px;
    margin-left: 20px;

  }

.hr {
  color: rgba(173, 173, 173, 0.945);
}

#div-f,
#div-f1 {
  font-size: 11px;
  font-family: "Helvetica LT Std", Helvetica, Arial, sans-serif;
  color: rgb(121, 120, 120);
  cursor: default;
}

#div-f1 {
  padding-right: 100px;
}
.insta{
  width: 20px;
}
@media (max-width:1199px) {
  .youtube{
    margin-top:12px;
  }
}
@media (max-width:992px) {
#div3{

margin-left: 2px;
 }
 #div4{

margin-left: -3.5rem;
 }
}
@media (max-width:767px) {
#div3{

margin-left: 2px;
 }
 #div4{

margin-left: 0.2rem;
 }
}
@media (max-width:440px) {
#div2{
margin-left: 0px;
 }

}
@media (max-width:374px) {
#trc{
 width: 120px;
 }
 #appn{
  width: 500px;
 }
 #sop{
  width: 120px;
 }
 #abut{
  line-height: 15px;
 }

}

