

.logoh {
  width: 12rem;
 
}

#i {
  color: var(--light--brown);
}

.navs1 {
  margin-top: 1.7rem;
  font-size: 0.8rem !important;
  opacity: 0;
}

.navs2li {
  margin-top: 1.7rem;
  font-size: 0.7rem !important;
}

.navs2lii {
  width: 12rem;
}

.navs2lip {
  width: 7rem;
}

.navs2lii1 {
  width: 10.4rem;
}

.search,
#search {
  position: relative;
  display: inline-block;
  padding-right: 1rem;
}

.search::after,
#search::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 1rem;
  background-color: var(--liner--after);
}

.navbar-toggler {
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
  margin-right: 12rem;
  border: 1px solid white !important;
  background-color: transparent !important;
  border-radius: 6px;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  margin-left: -0.7rem;
  margin-top: -0.3rem;
  background-color: var(--bg--nav);
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
}

#nav2 {
  background-color: var(--bg--nav);
  display: flex;
  flex-wrap: wrap;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0px 1rem;
}
.fa-house{
  color: var(--bg--secondary);
}

#nav2 li {
  list-style: none;
  padding: 12px 8px;
}

#nav2 li a {
  text-decoration: none;
  color: var(--bs-gray-500);
  font-size: small;
  display: inline-block;
  padding: 0.5rem 0;
}

.nav-item-dropdown a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-item-dropdown.active a {
  color: #fff;
}

.dropdown-icon {
  display: inline-block;
  transition: transform 0.3s ease;
  color: inherit;
}

.nav-item-dropdown.active .dropdown-icon {
  transform: rotate(180deg);
  color: #fff;
}

.submenu {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  z-index: 1000;
  border-radius: inherit;
  overflow: hidden;
}
.services-submenu{
  position: absolute;
  margin-top: 2% ;
}

.rowt {
  font-size: 0.7rem;
  text-align: start;
  color: var(--box5--color);
  background-color: var(--bg--nav);
}

.services-submenu .f {
  color: var(--bg--secondary);
}

.f1 {
  padding-top: 1rem;
}

.nav2-row {
  overflow: hidden;
  position: absolute;
  z-index: 2000;
  transition: height 0.8s ease, opacity 0.6s ease, transform 0.6s ease;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--bg--nav);

}

.nav2-row[class*="open-"] {
  opacity: 1;
  transform: translateY(0);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.nav2-row.open-about {
  height: 200px;
}

.nav2-row.open-services {
  height: 560px;

}

.nav2-row.open-tenders {
  height: 120px;
}

.nav2-row.open-publications {
  height: 200px;
}

.nav2-row.open-openData {
  height: 120px;
}

.nav2-row.open-media {
  height: 200px;
}




@media (max-width: 991px) {

  .navbar-toggler {
    margin-right: 30rem;
    position: absolute;
    z-index: 2001;
    margin-top: 20%;
    border: none !important;
  
  }
   .navbar-toggler-icon{
    font-size: x-small !important;
    margin-left: -0.5rem !important;
   }
  #responsive-navbar-nav {
    background-color: var(--bg--nav);
  }

  .nav-link {
    color: var(--bg--secondary) !important;
    font-size: large;
  }

  #search::after,
  .search::after {
    background-color: var(--bg--secondary);
  }

}


@media (max-width: 440px) {
  .navs1-container {
    display: flex;
    justify-content: flex-end;
  }

  .navs1 {
    display: flex;
    font-size: x-small !important;
    align-items: center;
    opacity: 1;
    color: var(--dark--color) !important;
  }

  #f {
    margin-left: 5.5rem;
    margin-bottom: 3rem;
    position: fixed;
  }

  #nav2 {
    flex-direction: column;
    align-items: flex-start;
  }

  #nav2 li {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}
