
.prog1-img-wrapper {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
}


.top-half,
.bottom-half {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  transition: all 2s ease;
}

.top-half {
  clip-path: inset(0 0 50% 0);
  transform: translateX(120%);
}
.top-half.slide-in-right {
  transform: translateX(0);
}

.bottom-half {
  clip-path: inset(50% 0 0 0);
  transform: translateX(-120%);
}
.bottom-half.slide-in-left {
  transform: translateX(0);
}


.overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 5;
}


.overlay-half {
  width: 30%;   
  height: 100%;   
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  transition: all 1.2s ease-in-out;
  z-index: 1;
  border-top-right-radius: 100px;
   border-bottom-right-radius: 50px;
}


.overlay-half.top-half {
  top: 0;
  transform: translateX(120%);
}


.overlay-half.bottom-half {
  bottom: 0;
  transform: translateX(-120%);
}


.overlay-merge .overlay-half.top-half {
  transform: translateX(0);
  transition-delay: 0.1s;
}

.overlay-merge .overlay-half.bottom-half {
  transform: translateX(0);
  transition-delay: 0.2s;
}


.overlay-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f1f1f;
  text-align: center;
  padding: 1rem;
}


.overlay-half.top-half .overlay-text h5 {
  margin-left: 1rem;
  font-size:2rem !important;
  text-align: start;
  margin-bottom: 8.5rem; 
  font-weight: bold; 
}
.spanh{
  color: var(--light--brown);
}

.overlay-half.bottom-half .overlay-text {
 margin-top: 10rem; 
 font-size: 14px;
  color: var(--liner--after);
}


#btnh {
  background-color: var(--light--brown);
  color: #fff;
  margin-left: -7rem;
  padding: 1px 1px;
  width: 120px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin-top: 4rem;
  font-size: small;
}

#btnh:hover {
  background-color: #9a8858;
}
.control-dots{
 
  width: 8% !important;
  bottom: 11.2rem !important;
  margin-left: 6rem !important;
}
 .dot{
  background-color: var( --liner--blue) !important;
  width: 4px !important;
  height: 4px !important;
}
.selected{    
  width: 2rem !important;
  height: 2px !important;
}

.carousel .control-prev.control-arrow:before 
{
    border-right: 8px solid;
    color: var( --liner--after);
    background: transparent !important;
    margin-bottom: 5rem !important;

}
.carousel .control-next.control-arrow:before {
    border-left: 8px solid;
    color: var( --liner--after);

    margin-bottom: 2rem;
}
.carousel .control-prev.control-arrow 
{
   margin-top: 25% !important;
  height: 5% !important;
  margin-left: 5rem;
}
.control-next{
 
     margin-top: 25% !important;
  height: 5% !important;
  margin-right: 70rem;
}
.carousel-status{
  display: none;
}
#dis{
  margin-left: 4rem !important;
}
.is-third-slide .control-dots,
.is-third-slide .control-arrow {
  display: none !important;
}

@media (max-width: 992px) {
  .overlay-half,.control-dots, .control-arrow{
  display: none;
  }
  

}