#contactus {
  min-height: 300px;
  width: 100%;
  margin-bottom: 200px;
}
.cont{
  position: relative;
  margin-top: 20px;
}

.contact-h {
  margin-top: 45px;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Helvetica LT Std', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(153, 152, 151, 0.12);
  position: relative;
}

.contact-h1 h1 {
  font-size: 40px;
  margin-left: 10px;
    font-family: 'Helvetica LT Std', Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding-left: 40px;
  position: absolute;
  z-index: 10;
  margin-top: -70px;
}
.typewriter-wrapper {
  display: inline-block;
  min-width: 100px;
}
.bg-left,
.bg-right {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 50%;
  z-index: 0;
  pointer-events: none;
  will-change: transform;
}

.bg-left {
  left: 0;
  background-color: hsla(153, 49%, 81%, 0.3) ;
  transform: translateY(-100%);
  animation: slideDown 1s forwards ease-out;
  height: 800px;
}
.bg-right {
  right: 0;
  background-color: hsla(153, 49%, 81%, 0.3) ;
    height: 800px;
  transform: translateY(100%);
  animation: slideUp 1s forwards ease-out;
}
@keyframes slideDown {
  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}
.contact-section{
 padding-top: 8%;
}
.left-content,
.right-content,
.contact-h,
.contact-h1 {
  position: relative;
  z-index: 5;
}

@keyframes slideDownLeft {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.left-content {
  opacity: 0;
  transition: all 0.8s ease-out;
  width: 75%;
  height: 470px;
  background-color: white;
  margin-top: -5rem;
  border-radius: 25px;
  margin-left: 5rem;
  

}


.left-content.visible {
  opacity: 1;
   animation: slideDownLeft  1s forwards ease-out;
}


.right-content {
  opacity: 0;
  transform: translateY(50px); 
  transition: all 0.8s ease-out;
}

.right-content.visible {
  opacity: 1;
  transform: translateY(0);
}
.left-content img {
  height: 420px;
  width: 320px;
  float: inline-end;
  margin-top: 20px;
  margin-right: 20px;
}




.div-img-contact {
  padding: 40px 55px;
}
.div-img-contact img {
  width: 35px;
  height: 35px;
  margin-bottom: 40px;
}
#imgl {
  width: 20px !important;
  margin-right: 30px !important;
}
.imgl {
  width: 30px !important;
  height: 25px !important;
  margin-right: 25px !important;
}
.div-img-contact::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 460px;
  margin-top: 10px;
  margin-right: 24rem;
  background-color: rgb(139, 140, 141, 0.2);
}
.right-content{
  margin-top: -15rem;
}
.p1-cont {
  font-weight: bold;
  font-size: x-large;
  font-family: 'Helvetica LT Std', Helvetica, Arial, sans-serif;
  margin-top: 50%;
}
.p3-cont {
  margin-top: 12px;
  font-size: small;
  color: var(--cont--color);
  font-family: 'Helvetica LT Std', Helvetica, Arial, sans-serif;
}

.span2-cont {
  display: block;
  width: 15%;
  height: 2px;
  background-color:var(--light--brown);
}
.form2 input,
label {
  font-size: small;
  font-family: 'Helvetica LT Std', Helvetica, Arial, sans-serif;
 color: var( --placeholder--color);
}
.form2 input {
  padding: 15px;
  border: none;
}
.form-control::placeholder {
  color:var(--placeholder--color) !important; 
  opacity: 1;  
}
#btn1-cont {
  border-radius: 25px;
  width: 120px;
  padding: 5px;
  font-size: small;
  font-family: 'Helvetica LT Std', Helvetica, Arial, sans-serif;
  color: var(--light--brown);
  border-color:var(--light--brown);
  outline-color: var(--light--brown);
}

@media (max-width:1199px) {
  .div-img-contact::after {
    margin-right: 22rem;
  }
  
}
@media (max-width:991px) {
  .right-content{
  margin-top: -5rem;
}
.left-content{
  margin-top: 0.1rem;
}
.left-content .imgc {
  height: 420px;
  width: 200px;

}
  .div-img-contact::after {
    margin-right: 15rem;
  }
  .div-img-contact{
    margin-left: 0.5rem;
  }
  .div-img-contact {
  padding: 40px 55px;
}
.div-img-contact img {
  width: 35px;
  height: 35px;
  margin-bottom: 40px;
}
#imgl {
 margin-top: 7rem;
}
#y{
   margin-top: 15rem;
}
#twi{  margin-top: 22rem;}


  }
  @media (max-width:767px) {
  .right-content{
  margin-top: -10rem;
  margin-left: 5rem;
}

.left-content .imgc {
  height: 420px;
  width: 100%;

}
  .div-img-contact::after {
    margin-right: 16.5rem;
  }
  .div-img-contact{
    margin-left: 2rem;
  }
  .bg div{
    height: 70rem;
  }


  }



